body{
    background-color: #f2e2f5;
    font-family: Verdana;
    text-align: center;
    background: linear-gradient(to right, rgb(236, 130, 147) 33.33%, pink 33.33%, pink 66.67%, rgb(236, 130, 147) 66.67%) ;
    }

    div{
    margin: 40px;
    }

    h1{
    color : darkslategray;
    }

    h4{
    font-weight: bold;
    font-family: Lucida Sans;
    }
    
    img{
        width: 20%;
        height: auto;
        border-radius: 10%;
    }

    input{
    margin: 0 auto;
    margin-top : 15px;
    padding : 10px;
    display: block;
    }
    
    li{
    text-align: left;
    padding: 5px;
    }